version: '3.8'

services:
  # 1. 您的Nuxt应用服务
  app:
    image: ghcr.io/cthaat/nekotribe:shadcn-web
    restart: always
    ports:
      - '30001:3000'
    env_file:
      - ./.env.docker
    networks:
      - neko-network
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    depends_on:
      - redis

  # 2. Redis服务
  redis:
    image: redis:7-alpine
    restart: always
    env_file:
      - ./.env.docker
    command: redis-server --requirepass '123456..a'
    networks:
      - neko-network

  # 3. Nginx服务
  nginx:
    image: nginx:1.27-alpine
    container_name: nekotribe-nginx-dev
    restart: unless-stopped
    ports:
      - '30002:80'
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./upload:/usr/share/nginx/upload:ro
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    networks:
      - neko-network
    depends_on:
      - app

networks:
  neko-network:
    driver: bridge
