# JWT_SECRET: 用于生成和验证 JSON Web Token 的密钥
ACCESS_SECRET=NekoTribe
# ACCESS_EXPIRES_IN: 访问令牌的过期时间，默认 15 分钟
ACCESS_EXPIRES_IN=900

REFRESH_SECRET=NekoTribeRefresh
# REFRESH_EXPIRES_IN: 刷新令牌的过期时间，默认 30 天
REFRESH_EXPIRES_IN=2592000

# NODE_ENV: 当前运行环境，通常为 development、production 或 test
NODE_ENV=test

# DATABASE_URL: 数据库连接字符串，指定数据库类型和路径
DATABASE_URL=sqlite:./.data/db.sqlite3

# ========================== Oracle 数据库连接配置 =========================================

# Oracle test 数据库连接配置
ORACLE_HOST=          # Oracle 服务器地址
ORACLE_PORT=              # Oracle 端口，默认 1521
ORACLE_SID=           # Oracle 实例名
ORACLE_SERVICE_NAME=   # 或者使用服务名
ORACLE_USER=       # 数据库用户名
ORACLE_PASSWORD='' # 数据库密码

# ========================== Oracle 数据库连接配置 ==========================================

# 连接池配置
ORACLE_POOL_MIN=3             # 最小连接数
ORACLE_POOL_MAX=15            # 最大连接数
ORACLE_POOL_INCREMENT=2       # 连接增量

#oceanbase
OCEANBASE_HOST=         # OceanBase 服务器地址
OCEANBASE_PORT=                 # OceanBase 端口，默认 2881
OCEANBASE_USER=neko_app@test         # OceanBase 用户名
OCEANBASE_PASSWORD='NekoApp2025#'   # OceanBase 密码
OCEANBASE_DATABASE=neko_tribe          # OceanBase 数据库名

# ========================== Redis 连接信息 ==========================================

# Redis test 连接信息
REDIS_URL=redis://localhost:6379
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=

# ========================== Redis 连接信息 ==========================================

# WebSocket 服务器配置
NUXT_PUBLIC_WS_URL=http://localhost:3001

# ========================== 邮件发送 ==========================================

SMTP_HOST=smtp.163.com
SMTP_PORT=465
SMTP_USER=
SMTP_PASS=

# ========================== 邮件发送 ==========================================

# ========================== 后端服务器 ==========================================

NUXT_PUBLIC_API_BASE=""

# ========================== 后端服务器 ==========================================